.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  height: 100%;
}

.topic {
  padding: 2% 0 1% 0;
  font-size: 2.5rem;
  text-shadow: rgb(0, 0, 0);
}

.main-select::-ms-expand {
  display: none;
}

.main-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10rem;
  text-align-last: center;
}

.table {
  text-align: center;
}

.table th {
  font-weight: bold;
}

.table .subject-title {
  text-align: left;
}

.table .subject-grade {
  width: 18px;
}

.table .grade-input {
  text-align: center;
}

.btn {
  width: 150px;
  margin: 0 4px;
  background-color: #ee3030;
  color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: none;
}

.container .btn-back {
  background-color: #ffffff;
  color: #000000;
}

.btn:hover {
  background-color: #ffd363;
  color: #000000;
}

.align-middle {
  margin-top: 20%;
}

.gpa-rows {
  width: 50%;
}
