.card {
  height: 100%;
  border-radius: 0;
}

.btn {
  border-radius: 0;
}

.topic {
  padding: 2% 0 1% 0;
  font-size: 2.5rem;
  text-shadow: rgb(0, 0, 0);
}

.main-select::-ms-expand {
  display: none;
}

.main-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10rem;
  text-align-last: center;
}

.table {
  text-align: center;
}

.table th {
  font-weight: bold;
}

.table .subject-title {
  text-align: left;
}

.table .subject-grade {
  width: 18px;
}

.table .grade-input {
  text-align: center;
}

.container .btn-back {
  background-color: #ffffff;
  color: #000000;
}

.align-middle {
  margin-top: 20%;
}

.gpa-rows {
  width: 50%;
}
